<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<link href="../../css/global.css?{{ cacheBuster }}" media="all" rel="stylesheet" />
    {# Pattern Lab doesn't autoload assets to generate the style guide. This is
    probably why it's so common to use a kitchen sink approach: it's easier. #}
    <link href="../../css/components/button.css?{{ cacheBuster }}" media="all" rel="stylesheet" />
    <link href="../../css/components/blockquote.css?{{ cacheBuster }}" media="all" rel="stylesheet" />
    <link href="../../css/components/card.css?{{ cacheBuster }}" media="all" rel="stylesheet" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
