<div class="card">
  <div class="card__img">
    {% if img %}
      <img src="{{- img -}}" alt="" class="card__img"/>
    {% endif %}
  </div>
  <div class="card__contents">
    {% if title %}
      <h2 class="card__title">
        {% if url %}
          <a href="{{ url }}">{{ title }}</a>
        {% else %}
          {{ title }}
        {% endif %}
      </h2>
    {% endif %}
    <p class="card__body">{{ body }}</p>
    {% if button.text and button.url %}
      {% include '@components/button/button.twig' with {
        text: button.text,
        url: button.url
      } %}
    {% endif %}
  </div>
</div>
